* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
.hidden {
  display: none !important;
}
.nav-link.active {
  color: white !important;
  scale: 1.2;
  border: 2px solid #f6b100 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-link:hover {
  scale: 1.1;
  color: white !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slide {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide__box {
  background-color: rgba(30, 30, 30, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  width: 100%;
  height: 300px;
}
.slide__box p {
  color: #ffffff;
}
.slide__box p:nth-child(1) {
  border-bottom: 2px solid #f6b100;
  font-size: 2rem;
  width: 190px;
  margin-bottom: 0;
  font-weight: 100;
}
.slide__box p:nth-child(2) {
  font-size: 4rem;
  width: 190px;
  line-height: 3.7rem;
  font-weight: 100;
  margin-top: 5px;
}
.slide__box p:nth-child(2) strong {
  font-size: 4.2rem;
}
.slideCatalogo {
  background-image: url(../images//Mobile/mobileSlideProductos-722x1048.jpg);
  height: 466px;
}
.slideComplementos {
  background-image: url(../images/Mobile/mobileSlideComplementos-722x1048.jpg);
  height: 466px;
}
.slidePostes {
  background-image: url(../images/Mobile/mobileSlidePostes-722x1048.jpg);
  height: 466px;
}
.slide-btn-cotizar {
  background-color: #f6b100;
  font-weight: 300;
  color: #ffffff;
  border: none;
  font-size: 2rem;
  border-radius: 5px 10px;
  padding: 5px 20px;
}
.slideSemaforos {
  background-image: url(../images/Mobile/mobileSlideSemaforos-722x1048.jpg);
  height: 466px;
}
.slideSenalamientos {
  height: 466px;
  background-image: url(../images/Mobile/mobileSlideSenalamientos-722x1048.jpg);
}
.slideServicios {
  background-image: url(../images/Mobile/mobileSlideDiseno-722x1048.jpg);
  height: 466px;
}
.slideCotizarGral {
  background-image: url(../images/Mobile/mobileSlideCotizacion-722x1048.jpg);
  height: 466px;
}
.titulo {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-bottom: 2px solid #f6b100;
  margin: 20px;
}
.accordion-header {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.accordion-header button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #f6b100 !important;
  background-color: #000000 !important;
  border: none;
  border-radius: 2px;
}
.accordion-header button::after {
  background-color: #f6b100;
  text-align: center;
  border-radius: 10px;
}
.accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.accordion-body__item {
  margin: 10px;
  border: 1px solid #411c4c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 250px;
}
.accordion-body__item-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.accordion-body__item-img {
  overflow: hidden;
}
.accordion-body__item-img img {
  height: 100px;
  width: auto;
}
.accordion-body__item-txt p {
  font-size: 1.4rem;
  text-align: center;
  max-width: 170px;
}
.accordion-body__item-link {
  font-size: 1.4rem;
  background-color: #f6b100;
  width: 125px;
  border-radius: 5px;
  text-align: center;
}
.accordion-body__item-link a {
  color: #6C6864;
  text-decoration: none;
}
.carousel-item {
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
}
.carousel-item .slideContent {
  position: absolute;
  color: #ffffff;
  top: 150px;
  background-color: rgba(30, 30, 30, 0.4);
}
.carousel-item .slideContent__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 20px 40px;
  line-height: 0.5rem;
}
.carousel-item .slideContent__box p:nth-child(1) {
  font-size: 2.4rem;
  opacity: 0.9;
}
.carousel-item .slideContent__box h2 {
  font-size: 4.6rem;
  font-weight: 100;
  border-bottom: 2px solid #f6b100;
  line-height: 4rem;
  padding-bottom: 10px;
  visibility: hidden;
}
.carousel-item .slideContent__box h2 strong {
  font-weight: 800;
}
.carousel-item .slideContent__box p:nth-child(3) {
  margin: 20px auto;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 300;
}
.carousel-item .slideContent__box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.carousel-item .slideContent__box__link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
.carousel-item .slideContent__box__link a img {
  margin-left: 5px;
  width: 25px;
}
.title {
  color: #6C6864;
  border-bottom: 3px solid #f6b100;
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  max-width: 1110px;
}
.title p {
  font-size: 4rem;
}
.title p:nth-child(1) {
  font-size: 3rem;
  line-height: 2rem;
}
.title p:nth-child(2) {
  font-size: 4rem;
  font-weight: 800;
}
.entrance {
  visibility: hidden;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  padding: 20px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__intro {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6C6864;
}
.content__intro p:nth-child(1) {
  border-bottom: 2px solid #f6b100;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}
.content__intro p:nth-child(2) {
  font-size: 4rem;
}
.contentIndex {
  color: #6C6864;
}
.contentIndex__section-nosotros {
  text-align: justify;
  margin: 30px auto;
}
.contentIndex__section-nosotros-txt {
  font-size: 1.6rem;
}
.contentIndex__section-contactanos {
  background-image: url(../images/Mobile/mobileItemContactanos480x520.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contentIndex__section-contactanos-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  width: 100vw;
  height: 200px;
  background-color: rgba(30, 30, 30, 0.4);
}
.contentIndex__section-contactanos-txt p:nth-child(1) {
  border-bottom: 2px solid #f6b100;
}
.contentIndex__section-contactanos-txt p:nth-child(2) {
  font-size: 2.4rem;
}
.contentIndex__section-contactanos-txt strong {
  font-weight: 600;
}
.contentIndex__section-soporte {
  text-align: justify;
  margin: 30px auto;
}
.contentIndex__section-soporte-txt {
  font-size: 1.6rem;
}
.contentIndex__section-catalogo {
  background-image: url(../images/Mobile/mobileItemCatalogo480x520.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contentIndex__section-catalogo-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  width: 100vw;
  height: 200px;
  background-color: rgba(30, 30, 30, 0.4);
}
.contentIndex__section-catalogo-txt-box {
  border: 3px solid #f6b100;
  width: 189px;
  border-radius: 20px;
  text-align: left;
  padding: 5px 10px;
}
.contentIndex__section-catalogo-txt-box p:nth-child(1) {
  font-size: 1.6rem;
  color: #D6D6D6;
  font-weight: 600;
}
.contentIndex__section-catalogo-txt-box p:nth-child(2) {
  font-size: 3rem;
  font-weight: 800;
}
.contentIndex__section-catalogo-txt-box strong {
  font-weight: 600;
}
.contentIndex__section-catalogo-txt-box-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: right;
}
.contentIndex__section-catalogo-txt-box-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}
.contentIndex__section-catalogo-txt-box-link img {
  width: 25px;
}
.contentIndex__section-especializado {
  margin: 30px auto;
  text-align: center;
}
.contentIndex__section-especializado-txt {
  font-size: 1.4rem;
}
.contentIndex__section-innovacion {
  background-image: url(../images/Mobile/mobileItemInovacion480x520.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contentIndex__section-innovacion-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  width: 100vw;
  height: 200px;
  background-color: rgba(30, 30, 30, 0.4);
}
.contentIndex__section-innovacion-txt-box {
  width: 220px;
  text-align: left;
  padding: 5px 10px;
}
.contentIndex__section-innovacion-txt-box p:nth-child(1) {
  font-size: 3.2rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  border-bottom: 2px solid #f6b100;
}
.contentIndex__section-innovacion-txt-box p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;
}
.contentIndex__section-innovacion-txt-box strong {
  font-weight: 600;
}
.contentIndex__section-innovacion-txt-box-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: right;
}
.contentIndex__section-innovacion-txt-box-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}
.contentIndex__section-innovacion-txt-box-link img {
  width: 25px;
}
.contentIndex__section-soporte2 {
  text-align: center;
  margin: 30px auto;
}
.contentIndex__section-soporte2-txt {
  font-size: 1.4rem;
}
.contentCatalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
.contentCatalogo__box {
  max-width: 100%;
  margin: 50px 20px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 334px;
  height: 300px;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contentCatalogo__box-item {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5px;
  width: 80%;
  border-radius: 20px 0 20px 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contentCatalogo__box-item h3 {
  border-bottom: 1px solid #f6b100;
  width: 100%;
  padding: 20px;
  font-size: 2.8rem;
  font-weight: 100;
}
.contentCatalogo__box-item a {
  color: #000000;
  text-decoration: none;
  background-color: #f6b100;
  font-size: 1.4rem;
  width: 200px;
  padding: 2px;
  border-radius: 0.2em;
  margin: 20px auto;
}
.contentCatalogo #semaforo {
  background-image: url(../images/Mobile/mobileItemSemaforos480x520.jpg);
}
.contentCatalogo #postes {
  background-image: url(../images/Mobile/mobileItemPostes480x520.jpg);
}
.contentCatalogo #senalamientos {
  background-image: url(../images/Mobile/mobileItemSenalamientos480x520.jpg);
}
.contentCatalogo #complementos {
  background-image: url(../images/Mobile/mobileItemComplementos480x520.jpg);
}
.contentCatalogo #servicios {
  background-image: url(../images/Mobile/mobileItemDiseno480x520.jpg);
}
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 160px auto;
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
}
.login__title {
  font-size: 2rem;
  color: #6C6864;
}
.login__formLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__formLogin__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__formLogin__box .form-group {
  color: #6C6864;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 5px;
  width: 300px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.login__formLogin__box .form-group label {
  text-align: left;
  font-size: 1.6rem;
}
.login__formLogin__box .form-group .icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.login__formLogin__box .form-group .icono img {
  width: 20px;
}
.login__formLogin__box .form-group__loginButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__formLogin__box .form-group__loginButton a {
  width: 100% !important;
  margin: 20px auto;
}
.login__formLogin button {
  color: white !important;
  font-weight: 600;
  width: 100px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login .modal-title {
  font-size: 2rem;
  color: #6C6864;
}
.login .btn-cotizacion {
  font-size: 12px !important;
  font-family: 'Raleway', sans-serif !important;
  color: #6C6864 !important;
  font-weight: 600 !important;
}
.login .producto_cotizado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login .producto_cotizado img {
  width: auto;
  height: 60px;
  overflow: hidden;
}
.login .informacion_producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #6C6864;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}
.login .content-form {
  text-align: left !important;
}
.link-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  width: 600px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #6C6864;
}
.link-categorias p {
  font-size: 1.4rem;
  margin: 0;
}
.link-categorias .dropdown a {
  font-size: 1.4rem;
}
footer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}
footer .footer__header {
  background-color: #f6b100;
  width: 100%;
}
footer .footer__header__box {
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
      grid-template-areas: "phone cellphone" "email email";
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Inter', sans-serif;
  padding: 20px 10px;
  margin: 0 auto;
}
footer .footer__header__box__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__phone p,
footer .footer__header__box__cellphone p,
footer .footer__header__box__email p {
  margin-bottom: 0;
}
footer .footer__header__box__cellphone {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cellphone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header-icon img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}
footer .footer__box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__box__body-logo {
  width: 200px;
}
footer .footer__box__body-links {
  margin: 30px auto;
  text-align: center;
}
footer .footer__box__body-links h2 {
  font-weight: 600;
  font-size: 2rem;
}
footer .footer__box__body-links li {
  margin: 10px 0;
  list-style: none;
  text-align: center;
}
footer .footer__box__body-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.8rem;
}
footer .footer__box__body-address {
  text-align: center;
}
footer .footer__box__body-address img {
  width: 80px;
  margin: 20px auto;
}
footer .footer__box__body-address p {
  font-size: 1.8rem;
  width: 170px;
  text-align: center;
  margin: 5px auto;
  font-weight: 300;
}
footer .footer__box__body-schedule {
  margin: 40px auto;
  text-align: center;
}
footer .footer__box__body-schedule h2 {
  font-weight: 600;
  font-size: 2rem;
}
footer .footer__box__body-schedule-hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "semana horario-semana" "sabado horario-sabado" "domingo horario-domingo";
  font-size: 1.5rem;
}
footer .footer__box__body-schedule-hours p:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: semana;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: horario-semana;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sabado;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: horario-sabado;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: domingo;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: horario-domingo;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-socialmedia {
  text-align: center;
}
footer .footer__box__body-socialmedia #logoFooter {
  display: none;
}
footer .footer__box__body-socialmedia__icon img {
  width: 60px;
}
footer .footer__foot {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  height: 81px;
  margin: 0;
}
footer .footer__foot p {
  margin: 0;
}
footer .footer__foot .divisor {
  display: none;
}
footer .footer__foot .rights p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ffffff;
}
footer .footer__foot .link__jmc a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
}
.categoriaIntro {
  width: 100vw;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6C6864;
}
.categoriaIntro p:nth-child(1) {
  border-bottom: 2px solid #f6b100;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}
.categoriaIntro p:nth-child(2) {
  font-size: 4rem;
}
.link-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 30px;
  margin: 30px auto;
  width: 80vw;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #6C6864;
}
.link-categorias p {
  font-size: 1.4rem;
  margin: 0;
}
.link-categorias .dropdown a {
  font-size: 1.4rem;
}
.btn-cotizacion {
  font-size: 12px !important;
  font-family: 'Raleway', sans-serif !important;
  color: #6C6864 !important;
  font-weight: 600 !important;
}
.btn-warning {
  font-size: 12px !important;
  font-family: 'Raleway', sans-serif !important;
  color: #6C6864 !important;
  font-weight: 600 !important;
  width: 250px !important;
}
.producto_cotizado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.informacion_producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6C6864;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}
.controlMenuAdmin {
  padding: 10px;
  background-color: #f6b100;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.controlMenuAdmin__box {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.controlMenuAdmin__box__item {
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 10px;
  width: 95px;
  padding: 10px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.controlMenuAdmin__box__item a {
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.4rem;
}
.controlMenuAdmin__box__item a img {
  width: 35px;
  height: auto;
}
.controlMenuAdmin__box__item:hover {
  background-color: #000000;
  scale: 1.1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.control_productos h2 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.container_controlProductos {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  width: auto;
}
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 20px;
  padding: none;
}
.topnav input[type=text] {
  padding: 5px;
  font-size: 14px;
}
.topnav .search-container button {
  background: gray;
  border: none;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  padding: 5px 10px;
  width: 32px;
}
.topnav .search-container button:hover {
  background: #6C6864;
}
table.table th i {
  cursor: pointer;
  font-size: 13px;
  margin: 0 5px;
}
table.table td:last-child i {
  font-size: 22px;
  margin: 0 5px;
  opacity: 0.9;
}
table.table td a {
  color: #566787;
  display: inline-block;
  font-weight: bold;
  outline: none !important;
  text-decoration: none;
}
table.table td a:hover {
  color: #2196F3;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table.avatar {
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border-radius: 2px !important;
  border: none;
  color: #999999;
  font-size: 13px;
  line-height: 30px;
  margin: 0 2px;
  min-height: 30px;
  min-width: 30px;
  padding: 0 6px;
  text-align: center;
}
.pagination li a:hover {
  color: #666666;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.pagination li.active a {
  background: #03a9f4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.active a.page-link {
  background: #03a9f4;
}
.pagination li.disabled i {
  color: #cccccc;
}
.hint-text {
  float: left;
  font-size: 13px;
  margin-top: 10px;
}
/* CONTROL DE PRODUCTOS MODALES */
.modal-title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem !important;
  color: #000000;
  text-align: left;
}
.modal-title strong {
  font-weight: 800;
  font-size: 4rem;
  color: #f6b100;
}
.modal .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  transform: scale(0.6) translateY(-0.5rem) translateX(0.15rem) !important;
}
.modal .form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  transform: scale(0.6) translateY(-0.5rem) translateX(0.15rem) !important;
}
.modal .form-floating > .form-control-plaintext ~ label,
.modal .form-floating > .form-control:focus ~ label,
.modal .form-floating > .form-control:not(:placeholder-shown) ~ label,
.modal .form-floating > .form-select ~ label {
  -webkit-transform: scale(0.6) translateY(-0.5rem) translateX(0.15rem) !important;
          transform: scale(0.6) translateY(-0.5rem) translateX(0.15rem) !important;
}
.modal #inputCantidad {
  width: 100px;
}
.modal .modal-header-unico {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "title close" "details details";
}
.modal .modal-header-unico h5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  border-bottom: 1px solid #f6b100;
}
.modal .modal-header-unico__detail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  gap: 30px;
}
.modal .modal-header-unico__detail-img img {
  height: 100px;
  width: auto;
}
.modal .modal-header-unico__detail-txt {
  text-align: left;
}
.modal .modal-body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 100px;
}
.modal .modal-body__buttons button {
  width: 100px;
}
.modal .modal-content {
  border-radius: 20px;
}
.modal .modal-content textarea {
  height: 100px;
  resize: none !important;
}
/*CONTROL DE COTIZACIONES*/
.content__CtrlCotizaciones {
  max-width: 1110px;
  margin: 20px auto;
  padding: 20px;
  height: 90vh;
}
.content__CtrlCotizaciones__tabs__link button {
  font-size: 1.6rem;
  color: #ffffff;
}
.content__CtrlCotizaciones__tabs__link #pendientes-tab {
  background-color: #F79F1F;
}
.content__CtrlCotizaciones__tabs__link #atendidas-tab {
  background-color: #EE5A24;
}
.content__CtrlCotizaciones__tabs__link #canceladas-tab {
  background-color: #EA2027;
}
.content__CtrlCotizaciones__tabs__item {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.content__CtrlCotizaciones__tabs__item__header {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 4px 4px 4px 4px;
}
.content__CtrlCotizaciones__tabs__item #pendientes-header {
  background-color: #F79F1F;
}
.content__CtrlCotizaciones__tabs__item #atendidas-header {
  background-color: #EE5A24;
}
.content__CtrlCotizaciones__tabs__item #canceladas-header {
  background-color: #EA2027;
}
.content__CtrlSubcategorias {
  max-width: 1110px;
  margin: 20px auto;
  padding: 20px;
  height: 90vh;
}
.content__CtrlSubcategorias__tabs__link button {
  font-size: 1.6rem;
  color: #ffffff;
}
.content__CtrlSubcategorias__tabs__link #Semaforos-tab {
  background-color: #6F1E51;
}
.content__CtrlSubcategorias__tabs__link #Postes-tab {
  background-color: #833471;
}
.content__CtrlSubcategorias__tabs__link #Senalamientos-tab {
  background-color: #B53471;
}
.content__CtrlSubcategorias__tabs__link #Complementos-tab {
  background-color: #ED4C67;
}
.content__CtrlSubcategorias__tabs__link #Servicios-tab {
  background-color: #c5838e;
}
.content__CtrlSubcategorias__tabs__item {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.content__CtrlSubcategorias__tabs__item__header {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 4px 4px 4px 4px;
}
.content__CtrlSubcategorias__tabs__item #Semaforos-header {
  background-color: #6F1E51;
}
.content__CtrlSubcategorias__tabs__item #Postes-header {
  background-color: #833471;
}
.content__CtrlSubcategorias__tabs__item #Senalamientos-header {
  background-color: #B53471;
}
.content__CtrlSubcategorias__tabs__item #Complementos-header {
  background-color: #ED4C67;
}
.content__CtrlSubcategorias__tabs__item #Servicios-header {
  background-color: #c5838e;
}
/*FORMULARIO AGREGAR PRODUCTO*/
.agregar__producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center ;
      -ms-flex-align: center ;
          align-items: center ;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.agregar__producto__form-titulo {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #6C6864;
  text-transform: uppercase;
  text-align: center;
}
.agregar__producto__form-contenet {
  color: #0397d6 !important;
}
.agregar__producto .content-form-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}
.agregar__producto .content-form-producto label {
  font-size: 1.4rem;
  color: #6C6864;
}
.agregar__producto .content-form-producto input {
  width: 500px;
}
.agregar__producto .content-form-producto button {
  text-align: center;
  width: 250px;
  border: none;
  font-size: 1.4rem;
  margin: 20px auto;
}
.control__lista-subcategoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center ;
      -ms-flex-align: center ;
          align-items: center ;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.control__lista-subcategoria .control__lista-subcategoria-title h3 {
  font-size: 24px;
  color: #6C6864;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 20px;
}
.control__lista-subcategoria .content-form-subcategoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.control__lista-subcategoria .content-form-subcategoria label {
  font-size: 1.4rem;
  color: #6C6864;
}
.control__lista-subcategoria .content-form-subcategoria input {
  width: 500px;
  height: 30px;
}
.control__lista-subcategoria .content-form-subcategoria select {
  height: auto;
  font-size: 1.4rem;
  color: #6C6864;
  height: 30px;
}
.control__lista-subcategoria .content-form-subcategoria button {
  width: 150px;
  margin-top: 50px;
}
.content-formContacto {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-formContacto-title {
  font-size: 2.8rem;
  color: #6C6864;
  margin: 10px;
  border-bottom: 1px solid #f6b100;
}
.content-formContacto form {
  width: 70vw;
  margin: 30px;
  max-width: 800px;
}
.content-formContacto form textarea {
  height: 100px !important;
  resize: none;
}
.content-formContacto form button {
  width: 100px;
}
