* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
.hidden {
  display: none !important;
}
.carousel-item .slideContent {
  top: 50px;
}
.carousel-item .slideContent__box p:nth-child(3) {
  margin: 10px 0;
  width: 340px;
}
.slideCatalogo {
  background-image: url(../images/Tablet/tabletSlidesProductos-1110x466.jpg);
  height: 466px;
  background-position: center;
  background-size: cover;
}
.slideComplementos {
  background-image: url("../images/Tablet/tabletSlidesComplementos-1110x466.jpg");
  height: 466px;
  background-attachment: unset;
}
.slidePostes {
  background-image: url("../images/Tablet/tabletSlidesPostes-1110x466.jpg");
  height: 466px;
  background-attachment: unset;
}
.slideSemaforos {
  background-image: url("../images/Tablet/tabletSlidesSemaforos-1110x466.jpg");
  height: 466px;
  background-attachment: unset;
}
.slideSenalamientos {
  height: 466px;
  background-image: url("../images/Tablet/tabletSlidesSenalamientos-1110x466.jpg");
  background-attachment: unset;
}
.slideServicios {
  background-image: url("../images/Tablet/tabletSlidesDiseno-1110x466.jpg");
  height: 466px;
  background-attachment: unset;
}
.slideCotizarGral {
  background-image: url("../images/Tablet/tabletSlidesCotizacion-1110x466.jpg");
  height: 466px;
  background-attachment: unset;
}
.content {
  margin: 0px auto;
  gap: 40px;
}
.content p {
  font-size: 1.8rem;
}
.contentIndex__section-contactanos {
  background-image: url("../images/Tablet/tabletItemContactanos1440x900.jpg");
}
.contentIndex__section-catalogo {
  background-image: url("../images/Tablet/tabletItemCatalogo1440x900.jpg");
}
.contentIndex__section-innovacion {
  background-image: url("../images/Tablet/tabletItemInovacion1440x900.jpg");
}
.contentCatalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contentCatalogo__box {
  margin: 0;
  width: 328px;
}
.producto_cotizado img {
  width: auto;
  max-height: 60px;
  overflow: hidden;
}
.producto_cotizado .mb-3 {
  text-align: left;
}
.modal-content {
  border-radius: 20px;
  padding: 20px 10px;
}
.modal-content textarea {
  resize: none !important;
}
.controlMenuAdmin {
  border-radius: 0 0 20px 20px;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}
footer .footer__header {
  background-color: #f6b100;
  width: 100%;
}
footer .footer__header__box {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: auto 40px auto 40px auto;
  grid-template-columns: auto auto auto;
      grid-template-areas: "phone cellphone email";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
footer .footer__header__box__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__phone p,
footer .footer__header__box__cellphone p,
footer .footer__header__box__email p {
  margin-bottom: 0;
}
footer .footer__header__box__cellphone {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cellphone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header-icon img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}
footer .footer__box__body {
  display: -ms-grid;
  display: grid;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
      grid-template-areas: "logo  address redes" "enlaces horario horario";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
footer .footer__box__body-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width: 200px;
  grid-area: logo;
}
footer .footer__box__body-links {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: enlaces;
  margin: 0;
  text-align: left;
}
footer .footer__box__body-links h2 {
  font-weight: 600;
  font-size: 2rem;
}
footer .footer__box__body-links li {
  margin: 10px 0;
  list-style: none;
  text-align: left;
}
footer .footer__box__body-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.8rem;
}
footer .footer__box__body-address {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: address;
  text-align: center;
}
footer .footer__box__body-address img {
  width: 80px;
  margin: 0;
}
footer .footer__box__body-address p {
  font-size: 1.8rem;
  width: 170px;
  text-align: center;
  margin: 5px auto;
  font-weight: 300;
}
footer .footer__box__body-schedule {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: horario;
  margin: 0;
  text-align: center;
}
footer .footer__box__body-schedule h2 {
  font-weight: 600;
  font-size: 2rem;
}
footer .footer__box__body-schedule-hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "semana horario-semana" "sabado horario-sabado" "domingo horario-domingo";
  font-size: 1.5rem;
}
footer .footer__box__body-schedule-hours p:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: semana;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: horario-semana;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sabado;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: horario-sabado;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: domingo;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: horario-domingo;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-socialmedia {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: redes;
  text-align: center;
}
footer .footer__box__body-socialmedia #logoFooter {
  display: none;
}
footer .footer__box__body-socialmedia__icon img {
  width: 60px;
}
footer .footer__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  height: 81px;
  margin: 0;
}
footer .footer__foot p {
  margin: 0;
}
footer .footer__foot .divisor {
  display: none;
}
footer .footer__foot .rights p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ffffff;
}
footer .footer__foot .link__jmc a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
}
