-var categorias = ["Semáforos","Postes","Señalamientos","Complementos Viales","Servicios de diseño"]
-var titulo = "STEROWANIA"
-var titulos = ["CONOCE NUESTROS PRODUCTOS","Semaforo", "Postes", "Señalamientos","Complementos viales","Servicios de diseño vial y urbano"]
mixin caja(imagen,titulo,enlace)
	.caja 
		.caja__imagen: img(src="images/Mobile/"+imagen)
		.caja__contenido
			h3=titulo
			a(href="http://www.google.com") enlace 

mixin categorias(catgs)
	select.form-control.form-control-lg.form-select(type="email" name="email" aria-describedby="emailHelp" placeholder="Email válido")#exampleInputEmail1
		each categoria in catgs
			option= categoria