header 
    //- .menu-top 
    //-     p Bienvenido a Sterowania
    //-     a(href="privacidad.html").menu-top__link Aviso de Privacidad
    nav.menu 
        section.menu__container 
            img(src="/images/iconos/logo-amarillo.svg").menu__logo
            ul.menu__links 
                li.menu__item 
                    a(href="index.html").menu__link Inicio
                li.menu__item 
                    a(href="catalogo.html").menu__link Productos
                li.menu__item 
                    a(href="cotiza_gral.html").menu__link Cotizar
                li.menu__item 
                    a(href="login.html").menu__link Login
            .menu__hamburger 
                img(src="images/iconos/menu.svg" alt="icono de menu").menu__img