extend ../components/template.pug
block content
    .slideComplementos.slide
        .slide__box
            p CATÁLOGO DE  
            p COMPLEMENTOS #[br] #[strong VIALES]
            .slide__box__link
                include modal-cotizacion-gral.pug 
    include link-categorias.pug
    .categoriaIntro
        .titulo Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    .container
            .accordion#accordionExample
                .accordion-item
                    h2.accordion-header
                        button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Aditamentos reductivos de velocidad Boyas, vialestas, botones.
                    .accordion-collapse.collapse.show#collapseOne( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug              
                .accordion-item
                    h2.accordion-header
                        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Aditamento para estacionamientos
                    .accordion-collapse.collapse#collapseTwo( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                .accordion-item
                    h2.accordion-header
                        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Complementos de seguridad conos, tramitamos, cintas de seguridad. 
                    .accordion-collapse.collapse#collapseThree( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                .accordion-item
                    h2.accordion-header
                        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour") Complementos de seguridad personal, chalecos, cascos, lentes, guantes protectores de seguridad.
                    .accordion-collapse.collapse#collapseFour( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="images/Productos/Semaforos/Semaforo vehicular/7.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    include modal-cotizacion.pug 
                            
                                  
                        