extend ../components/template.pug
block content
    .slideSemaforos.slide
        .slide__box
            p CATÁLOGO DE  
            p #[strong SEMAFOROS]
    include link-categorias.pug
    .categoriaIntro
        .titulo Lorem ipsum dolor sit amet consectetur, adipisicing elit.  
    .container
            .accordion#accordionExample
                .accordion-item
                    h2.accordion-header
                        button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Semáforos vehiculares
                    .accordion-collapse.collapse.show#collapseOne( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar                                              
                .accordion-item
                    h2.accordion-header
                        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Semáforos Peatonales 
                    .accordion-collapse.collapse#collapseTwo( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                .accordion-item
                    h2.accordion-header
                        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Semáforos Auditivos
                    .accordion-collapse.collapse#collapseThree( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar              
                .accordion-item
                    h2.accordion-header
                        button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour") Complementos semáforos 
                    .accordion-collapse.collapse#collapseFour( data-bs-parent="#accordionExample")
                        .accordion-body
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar 
                            .accordion-body__item
                                .accordion-body__item-title
                                    p titulo
                                .accordion-body__item-img
                                    img(src="/images/Productos/Semaforos/Semaforo vehicular/6.jpg", alt="imagen del producto", srcset ="") 
                                .accordion-body__item-txt
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae
                                .accordion-body__item-link
                                    a(href="#") Cotizar           