extend ../components/template.pug
block content
    
    main.contenido  
        .caja#semaforo
            .caja__elementos
                h3 Semáforos
                a(href="cat-semaforos.html") Ver más 
        .caja#postes
            .caja__elementos
                h3 Postes
                a(href="cat-postes.html") Ver más 
        .caja#senalamientos
            .caja__elementos
                h3 Señalamientos
                a(href="cat-senalamientos.html") Ver más 
        .caja#complementos
            .caja__elementos
                h3 Complementos 
                h2 viales
                a(href="cat-complementos.html") Ver más
        .caja#servicios
            .caja__elementos
                h3 Servicios de diseño 
                h2 vial y urbano
                a(href="cat-servicios.html") Ver más
                