.control_productos_admin 
    .menu_control 
        .icono_productos 
            img(src="images/iconos/iconmonstr-tiles-list-lined.svg" alt="")
            a(href="control-productos.html") Control de productos
        .icono_subcategorias 
            img(src="images/iconos/gear-wide-connected.svg", alt="")
            a(href="") Control de subcategorias
        .icono_cotizaciones 
            img(src="images/iconos/iconmonstr-credit-card-thin.svg", alt="")
            a(href="#") Control de cotizaciones
                    
            