.btnStatus_cotizaciones 
    form(action="")
        button.btn.btn-secondary(type='button') Todas
        button.btn.btn-info(type='button') 
            a(href="solicitud-pendiente.html") Pendientes 
        button.btn.btn-success(type='button') 
            a(href="solicitud-cotizada.html") Cotizadas
        button.btn.btn-danger(type='button') Pendientes
        