extend ../components/template.pug
block content
    .section-slide
    .section-nosotros
    .section-contactanos 
    .section-soporte
    .section-catalogo 
    .section-especializado 
    .section-innovacion 
    .section-soporte2