.link-categorias
    p Consulta otra categoría
    .dropdown
        a.btn.btn-warning.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Categorias
        ul.dropdown-menu
            li
                a.dropdown-item(href="cat-semaforos.html") Semáforos
                a.dropdown-item(href="cat-postes.html") Postes
                a.dropdown-item(href="cat-senalamientos.html") Señalamientos
                a.dropdown-item(href="cat-complementos.html") Complementos viales
                a.dropdown-item(href="cat-servicios.html") Servicios de diseño vial y urbano