extend ../components/template.pug
block content 
    .login
        .login__title.title  Iniciar sesión
        form.login__formLogin
            .login__formLogin__box.box
                .form-group
                    label(for='exampleInputEmail1') Email address
                    .icono 
                        img(src="/images/iconos/email-login.svg", alt="")
                        input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
                    small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                .form-group
                    label(for='exampleInputPassword1') Password
                    .icono 
                        img(src="images/iconos/password.svg", alt="")
                        input#exampleInputPassword1.form-control(type='password' placeholder='Password')
                .form-group.form-check
                        //- button.btn.btn-warning(type='submit') Ingresar
                        a.btn.btn-warning(href="/control-productos.html") ingresar
                        
