
button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop") Cotizar

.modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")#staticBackdrop
    .modal-dialog
        .modal-content
            .modal-header
                h1.modal-title.fs-5#staticBackdropLabel Modal title
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
     
            .modal-body
                .content-form
                    form(action = "")
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Nombre
                            input.form-control(type="text" aria-describedby="emailHelp")#exampleInputEmail1
                            .form-text#emailHelp We'll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Teléfono
                            input.form-control(type="num" aria-describedby="emailHelp")#exampleInputEmail1
                            .form-text#emailHelp We'll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Email
                            input.form-control(type="email" aria-describedby="emailHelp")#exampleInputEmail1
                            .form-text#emailHelp We'll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Nombre de la empresa
                            input.form-control(type="text" aria-describedby="emailHelp")#exampleInputEmail1
                            .form-text#emailHelp We'll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Mensaje
                            textarea.form-control(type="text" aria-describedby="emailHelp")#exampleInputEmail1
                            .form-text#emailHelp We'll never share your email with anyone else 
                        include modal-mensajeCotizacion.pug 
                        
            .modal-footer
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary(type="button") Understood