button(class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal") 
  | Enviar

.modal.fade(class="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title(class="exampleModalToggleLabel") Modal 2
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                | Hide this modal and show the first with the button below.
        