.tabla_solicitudesCotizadas
    .table-wrapper
            .table-title 
                h2 hola
            table.table.table-striped.table-hover
                thead 
                    tr                  
                        th #
                        th Cliente
                        th Estatus
                        th Destalles
                        th Acciones
                tbody 
                    tr 
                        td 01
                        td Nombre cliente 
                        th pendiente 
                        td 
                            a(href="#verzualizarProductoModal" data-toggle='modal') ver más...  
                        td
                            a.edit(href="#editProductoModal" data-toggle='modal')
                                i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                            a.delete(href='#deleteProductoModal' data-toggle='modal')
                                i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                    tr 
                        td 02
                        td cliente 2
                        th cotizada
                        td 
                            a(href="#verzualizarProductoModal" data-toggle='modal') ver más... 
                        td
                            a.edit(href="#editProductoModal" data-toggle='modal')
                                i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                            a.delete(href='#deleteProductoModal' data-toggle='modal')
                                i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                    tr                
    
            
                
