.btn-group
    button.btn.btn-warning(type='button') Subcategoría
    button.btn.btn-warning.dropdown-toggle.dropdown-toggle-split(type='button', data-bs-toggle='dropdown', aria-expanded='false')
        span.visually-hidden Toggle Dropdown
    ul.dropdown-menu
        li
            a.dropdown-item(href='#') Semáforos Vehículares
        li
            a.dropdown-item(href='#') Semáforos peatonales
        li
            a.dropdown-item(href='#') Semáforos auditivos
        li
            a.dropdown-item(href='#') Complementos de semáforos